main > .container {
    padding: 60px 15px 0;
}

.seccion > .container,
.seccion > .container-fluid{
    padding: 60px 15px 0;
}

#seccion-principal {
    height: 100%;
}

#seccion-secundaria {
    background-color: papayawhip;
    height: 100%;
}